@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: white;
    color:darkslategray;
    font-family: 'Open Sans',serif;
}

.wrapper {
    background-color: antiquewhite;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

}

/* source https://www.webfx.com/blog/web-design/circular-images-css/#:~:text=To%20render%20a%20circle%2C%20the,s%20overflow%20property%20to%20hidden%20. */

h1 {
    display: inline-block;
    margin-top: 20;
}

h2 {
    display: inline-block;
    margin-top: 20;
}


.circular_portrait {
    display: inline-block;
    float: right;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%; 
    margin: 20px 20px;
    
}

.avatar_photo {
    width: 100%;
    height: auto;
}

.about {
    display: block;
}

div.header_text {
    //background-color: red;
    margin-left: 20px;
    margin-right:20px;
      
}

a:hover {
    font-weight: 900;
    color: darkgoldenrod;
    text-decoration: none;
}

a {
    font-weight: 300;
    color: darkgoldenrod;;
    text-decoration: none;
}

a:visited {
    font-weight: 300;
    color: darkgoldenrod;;
    text-decoration: none;
}

main {
    display: block;
    margin-left: 20px;
    margin-right: 20px;

}

div.contact_map {
    display: inline;
    float: right;
    margin-left: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 50px 20px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  div.social_icons {
      width:50%;


      margin-left: auto;
      margin-right: auto;
  }

  
 .clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     height:0;
     line-height: 0;

 }

 .copyright {
    font-size: small;
    display:block;
    text-align: center;
     padding-bottom: 20px;
 }

/*   */